@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer base {
  * {
    @apply border-gray-800;
  }
  
  body {
    @apply bg-black text-gray-100;
  }
}
